*{
    margin: 0;
    padding: 0;
    
}
body{
    background: #0B4F6C;
    color: #ffff;
   
}


#scissorContainer h1{
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
#scissorContainer{
    margin-top:5rem;
    text-align: center;
}

#imageContainer{
    /* height: 80vh; */
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    background-color: #0b3948;
    cursor: pointer;
}
.image{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

#pointContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 2rem ;
    font-size: 1.5rem;
}
.score{
    font-size: 4rem;
}
#scissorMsgContainer{
    margin: 3rem;
}
#scissorMsg{
  
    display: inline;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
}
#scissorReset{
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    background: #0b3948;
    color: white;
    cursor: pointer;
}

